body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	width: 100%;
}

.content {
	font-size: 18px;
	line-height: 200%;
	padding-top: 30px;
}